{{#partial "page"}}

<main class="page">
    <section class="page-content page-content--left">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="three-cols">
        <h1>404.<br><br>Jump to a category above,<br> or try searching for something below.
    </h1>
</div>
<div class="three-cols"><img src="https://cdn11.bigcommerce.com/s-pimv2ff7eu/product_images/uploaded_images/404-skeleton.jpg?t=1573070340&_ga=2.231520095.1572231407.1572897431-293143968.1571952858"></div>
<div class="three-cols">
        <h1>Uh oh.<br><br>Looks like we connected the leg bone to the arm bone.
    </h1>

    </div>
    </section>
    <section class="page-content page-content--centered">    
        {{> components/common/search-box}}
    </section>
</main>

{{/partial}}
{{> layout/base}}
