<table width="135" border="0" role="presentation" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
    <tr>
        <td width="135" align="center" valign="top">
            <a href="https://sealsplash.geotrust.com/splash?&dn=anatomywarehouse.com" tabindex="-1" onclick="return gts_mDown(event);" onmousedown="return gts_mDown(event);" target="GEOTRUST_SSL_Splash"><img name="gts_seal" border="true" src="https://seal.geotrust.com/getgeotrustsslseal?at=0&sealid=1&dn=anatomywarehouse.com&lang=en&gmtoff=0" oncontextmenu="return false;" alt="Click to Verify - This site has chosen a GeoTrust SSL Certificate to improve Web site security"></a><br />
            <a href="http://www.geotrust.com/ssl/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">GeoTrust</a>
        </td>
    </tr>
</table>
