.vs/
.vscode/
node_modules/
node_modules*/
.stencil
.stencil*
.DS_Store
assets/css-artifacts
assets/js/bundle.js
assets/dist
vendor/bundle
.bundle
*.js.map
*.zip
config.stencil.json
secrets.stencil.json
parsed/
manifest.json
