.productView-alsoBought-item .quickview {
    text-transform: uppercase;
    font-size: fontSize("smallest");
    line-height: 1.35;
    font-weight: fontWeight("bold");
    text-underline-position: under;
    margin-right: spacing("quarter");
}

.productView-alsoBought-item-formToggle {
    border-bottom: 0;
    text-decoration: underline;
    text-underline-position: under;
}
